.singleCocktail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  font-size: 1.6rem;
  font-weight: 600;
  gap: 2rem;
  justify-items: center;

  &__image {
    width: 80%;
    border-radius: 5px;
  }

  &__detail {
    text-transform: capitalize;
    display: grid;
    align-items: center;
    gap: 2rem;
  }

  &__btn {
    justify-self: start;
    align-self: center;
  }

  &__ingredient {
    margin-right: 1rem;
  }
}
